@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "raleway";
    margin: 0;
}


/*début header*/

header,
#bandeausearch {
    padding-right: 20px;
    padding-left: 20px;
}

header {
    margin: 0;
}


/*container header*/

#navheader {
    display: grid;
    grid-template: 50px 50px / 100px 1fr 80px;
    "logo" 1 / 1 / span1 /span1
}


/*logo*/

#logosvg {
    height: 50px;
    grid-area: 1 / 1 / span 1 / span 1;
}


/*Container navigation*/

#navheader ul {
    padding: 0;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 2 / 1 / span 1 / span 3;
    align-self: center;
}

#navheader li {
    list-style: none;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lih {
    border-bottom: solid 3px #0065FC;
}

#ah {
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
}

#aa {
    text-decoration: none;
    color: black;
    font-size: 16px;
}


/*button inscription*/

#containerinscription {
    grid-area: 1 / 3 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#binscription {
    display: block;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #0065FC;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}


/*fin header*/


/*début bandeau*/


/*container bandeau de recherche*/


/*titres bandeau de recherche*/

#bandeausearch h1 {
    font-size: 20px;
}

#bandeausearch h2 {
    font-size: 16px;
    font-weight: normal;
}


/*Barre de recherche*/


/*container barre de recherche*/

#containersearchbar {
    max-width: 80%;
}

#search {
    display: flex;
    height: 50px;
    min-width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    margin-top: 35px;
    margin-bottom: 35px;
}


/*container icon position*/

#search label {
    height: 50px;
    min-width: 50px;
    max-width: 54px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconposition {
    transform: scale(0.3)
}


/*input rechercher*/

#rechercher {
    height: 50px;
    max-width: 100%;
    border: none;
    flex: 1;
}


/*button rechercher*/

#search button {
    border: none;
    border-radius: 15px;
    background-color: #0065FC;
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#searchdeck {
    display: none;
}

#searchmob {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#iconloupe {
    transform: scale(0.5);
}

#barrefiltres h3 {
    font-size: 16px;
}


/*container button catégories*/

#filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 939px;
}


/*div "button" filtres*/

.bf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border: solid #F2F2F2;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 16px;
}


/*span container icons*/

.imgb {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background-color: #DEEBFF;
    border-radius: 100px;
    margin-left: -3px;
}


/*span container texte*/

.textb {
    display: block;
    margin: 12px;
    font-weight: bold;
}


/*icons*/

.iconfiltre {
    width: 20px;
}


/*texte info*/

#info {
    margin-top: 15px;
    margin-bottom: 0;
}


/*fin du bandeau*/


/*début du contenu de la page*/


/*container des sections et aside*/

#containerflex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 11px;
}

.titresection {}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

article h1 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

article p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 4px;
}

.stars {
    width: 15px;
}

strong {
    font-weight: normal;
}

.container {
    padding: 20px;
    overflow: hidden;
}

.carte {
    background-color: white;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}


/*début dection popular*/

#mostpopular {
    width: 100%;
    background-color: #f2f2f2;
}

#titresection1 {
    display: flex;
    justify-content: space-between;
}

#titrepoular {
    display: block;
}

#iconpopular {
    display: block;
    width: 20px;
}


/*container des cartes popular*/

#cartespopular {
    display: flex;
    flex-direction: column;
    align-items: center
}


/*cartespopular*/

.popular {
    border: solid white 5px;
}


/*container du contenu des cartes*/

.insection2 {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}


/*mise en forme du div contenant l'image*/

.imgp {
    margin: 0;
    min-width: 125px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#imgp1 {
    background-image: url("../images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#imgp2 {
    background-image: url("../images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#imgp3 {
    background-image: url("../images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.contenup {}

.ratingp {}


/*fin section popular*/


/*début section hébergement*/


/*container section hébergement*/

#hébergement {
    width: 100%;
    background-color: white;
}


/*container des cartes hébergements*/

#carteshebergement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#souscontainerp {
    padding-bottom: 30px;
}


/*cartes hébergements*/

.lodge {
    border: solid white 5px;
}


/*container du contenu de la carte*/

.insection1 {
    display: flex;
    flex-direction: column;
}


/*mise en forme de toutes les images de la section*/

.imgh {
    height: 117px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*auberge de la cannebière*/

#imgh1 {
    background-image: url("../images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}


/*hotel du port*/

#imgh2 {
    background-image: url("../images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}


/*hotel les mouettes*/

#imgh3 {
    background-image: url("..//images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}


/*hotel de la mer*/

#imgh4 {
    background-image: url("../images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}


/*auberge le panier*/

#imgh5 {
    background-image: url("../images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}


/*hotel chez amina*/

#imgh6 {
    background-image: url("../images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#watchmore {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


/*début section activité*/

#activities {
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}


/*container des cartes activités*/

#cartesactivities {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*cartes activités*/

.activitie {
    border-radius: 20px;
    margin-top: 15px;
}


/*container du contenu*/

.insection3 {
    background-color: white;
}


/*mise en forme des div contenant les images en background*/

.imga {
    margin: 0;
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#imga1 {
    background-image: url('../images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#imga2 {
    background-image: url("../images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#imga3 {
    background-image: url("../images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#imga4 {
    background-image: url("../images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#imga5 {
    background-image: url("../images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#imga6 {
    background-image: url("../images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

.ta {
    margin: 20px;
}


/*fin de la section activité*/


/*début footer*/

footer {
    background-color: #F2F2F2;
    padding: 20px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
}

.sectionfooter {
    margin-left: 0px;
    min-width: 300px;
    flex: 1;
}

#footer ul {
    padding: 0;
}

#footer li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 20px;
}


/*fin footer*/


/* Début media queries*/

@media only screen and (min-width: 480px) {
    #search {
        max-width: 418px;
    }
    #rechercher {
        max-width: 234px;
    }
    #search button {
        max-width: 135px;
        border-radius: 0px 15px 15px 0px;
        flex: 0.5
    }
    /*remplace l'icon par du texte dans la search bar*/
    #searchdeck {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
    }
    #searchmob {
        display: none;
    }
    .container {
        overflow: hidden;
    }
    .popular {
        min-width: 300px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width:688px)
/*ce qui ne change pas au dessus de 640px*/

{
    .imga {
        height: 160px;
    }
    .imgh {
        height: 200px;
    }
}

@media only screen and (min-width: 480px)and (max-width :1312px) {
    #cartespopular {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 688px) and (max-width: 1312px) {
    #containerflex {
        display: flex;
        justify-content: center;
    }
    .container {}
    .souscontainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .titresection {
        margin-left: 20px;
    }
    #hébergement {
        margin-top: 20px;
        display: flex;
        justify-content: center
    }
    #activities {
        margin-top: 20px;
        display: flex;
        justify-content: center
    }
    #carteshebergement,
    #cartesactivities {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lodge,
    .activitie {
        min-width: 200px;
        margin: 14.5px;
        flex: 1;
    }
}

@media only screen and (min-width: 688px) and (max-width:992px) {
    .souscontainer {
        max-width: 800px;
    }
    #hébergement {
        background-color: #F2F2F2;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1312px)
/*entre 768 & 1400*/

{
    .container {
        max-width: 1000px;
    }
    .souscontainer {
        max-width: 900px;
    }
    #hébergement {
        background-color: #F2F2F2;
    }
}

@media only screen and (min-width: 992px) {
    #navheader {
        grid-template: 50px / 100px 1fr 300px 80px;
    }
    #navheader ul {
        grid-area: 1/ 3 / span 1 / span 1;
    }
    #containerinscription {
        grid-area: 1 / 4 / span 1 / span 1;
    }
    #lih {
        border-bottom: none;
        border-top: solid 3px #0065FC;
    }
    header,
    #bandeausearch,
    #containerflex {
        padding-right: 50px;
        padding-left: 50px;
    }
    #hébergement {
        border-radius: 20px;
        background-color: #f2f2f2;
    }
    #mostpopular {
        border-radius: 20px;
        background-color: #f2f2f2;
    }
}

@media only screen and (min-width: 1312px) {
    #containerflex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #mostpopular {
        order: 2;
        max-width: 500px;
        border-radius: 20px;
        flex: 1;
        padding: 37px;
    }
    #hébergement {
        order: 1;
        min-width: 784px;
        max-width: 1031px;
        flex: 2;
        border-radius: 20px;
        background-color: #f2f2f2;
        margin-right: 50px;
    }
    #carteshebergement {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lodge {
        min-width: 220px;
        margin: 14.5px;
        flex: 1;
    }
    #activities {
        order: 3;
        max-width: 1641px;
    }
    #cartesactivities {
        display: grid;
        grid-template: 222.5px 222.5px/ 1fr 43px 1fr 43px 1fr 43px 1fr;
    }
    .activitie {
        min-width: 250px;
        margin: 0;
    }
    #activities1 {
        grid-area: 1 / 1 / span 2 / span 1;
        height: 445px;
        align-self: flex-start;
        margin: 0;
    }
    #activities2 {
        grid-area: 1 / 3 / span 1 / span 1;
        height: 236px;
        align-self: flex-start;
        margin-right: 30px;
    }
    #activities3 {
        grid-area: 2 / 3 / span 1 / span 1;
        height: 163px;
        align-self: flex-end;
    }
    #activities4 {
        grid-area: 1 / 5 / span 2 / span 1;
        height: 445px;
        align-self: flex-end;
    }
    #activities5 {
        grid-area: 1 / 7 / span 1 / span 1;
        height: 195px;
        align-self: flex-start;
    }
    #activities6 {
        grid-area: 2 / 7 / span 1 / span 1;
        height: 209px;
        margin-bottom: 0;
        align-self: flex-end;
    }
    .imga {}
    #imga1 {
        background-image: url('../images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
        height: 394px;
    }
    #imga2 {
        background-image: url("../images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        height: 186px;
    }
    #imga3 {
        background-image: url("../images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        height: 114px;
    }
    #imga4 {
        background-image: url("../images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        height: 394px;
    }
    #imga5 {
        background-image: url("../images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        height: 140px;
    }
    #imga6 {
        background-image: url("../images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        height: 160px;
    }
}