@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "raleway";
    width: 100%;
    margin: 0px;
    padding: 50px;
}


/*début mise en page header*/

header
/*container header*/

{
    width: 100%;
}

#navheader
/*container niveau 2 contenant les éléments de navigations*/

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#groupe1
/*contient ul et button s'inscrire*/

{
    display: flex;
}

#groupe1 ul
/*contient li*/

{
    display: flex;
}

#groupe1 ul li
/*li header classique*/

{
    list-style: none;
    margin-left: 70px;
}

#groupe1 ul li a
/*liens des li*/

{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#groupe1 button
/*button inscription*/

{
    margin-left: 70px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #0065FC;
    font-size: 16px;
}

#logosvg
/*logo*/

{
    height: 50px;
}


/*fin mise en page header*/


/*début mise en page bandeausearch*/

#bandeausearch
/*container bandeau search*/

{
    width: 100%;
}


/*début mise en page bandeausearch titres*/

#bandeausearch h1
/*titre h1 bandeausearch*/

{
    font-size: 25px;
    font-weight: bold;
    /*non fonctionnel*/
}

#bandeausearch h2
/*titre h2 bandeausearch*/

{
    margin-top: -10px;
    font-size: 16px;
    font-weight: normal;
}


/*fin mise en page bandeausearch titre*/


/*début mise en page barre de recherche*/

#searchbar {
    margin-bottom: 35px;
    margin-top: 25px;
    border: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 390px;
}

#searchbar label {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
}

#searchbar div img {
    width: 20px;
    margin-right: 5px;
}

#searchbar input {
    height: 50px;
    width: 235px;
    border: none;
}

#searchbar button {
    height: 50px;
    width: 135px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
}


/*fin mise en page barre de recherche */


/*début mise en page boutons filtres*/

#barrefiltres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

#filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}

#barrefiltres h3 {
    font-weight: bolder;
}

.bf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-color: #F2F2F2;
    background-color: white;
    box-shadow: none;
    border-radius: 50px;
    height: 50px;
    margin-top: 7px;
    text-align: center;
    margin-left: 25px;
}

.imgb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-left: -8px;
}

.iconfiltre {
    width: 20px;
    height: 20px;
}

.textb {
    font-size: 20px;
    margin-left: 15px;
}


/*fin mise en page boutons filtres*/


/*début mise en page info*/

#info {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

#info img {
    width: 20px;
    margin-right: 14px;
}


/*fin de la mise en pafe info*/


/*fin mise en page bandeausearch*/


/*mise en page conatainer*/


/*fin mise en page container*/


/*début de la section hébergement*/

#hébergement
/*container de la section hébergement gris*/

{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 35px;
}

#carteshebergement {}


/*container des cartes*/

{}

.lodge
/*cartes*/

{
    padding: 7px;
    background-color: white;
    width: 248px;
    border-radius: 20px;
    margin-top: 35px;
}

.insection1
/*groupe enfant direct cartes*/

{}

#carteshebergement img
/*images dans les cartes*/

{
    align-items: center;
    width: 236px;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 7px;
}

#carteshebergement h1
/*tite h1 dans les cartes*/

{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
}

#carteshebergement p
/*paragrache prix dans cartes*/

{
    margin-top: 3px;
    font-size: 16px;
    margin-bottom: 3px;
}


/*fin de la section hébergement*/


/*début section popular*/

#mostpopular
/*container gris de la section popular*/

{
    background-color: #F2F2F2;
    padding: 35px;
    border-radius: 20px;
}

#cartespopular
/*container des cartes*/

{}

.popular
/*cartes*/

{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 35px;
    width: 350px;
}

.insection2
/*Groupe enfant direct carte*/

{}

#cartespopular img
/*image dans carte */

{
    width: 135px;
    height: 130px;
    border-radius: 20px 0px 0px 20px;
    ;
}

#cartespopular h1
/*titre h1 carte*/

{
    font-size: 15px;
}

#cartespopular p
/*paragraphe prix carte */

{
    margin-top: 3px;
    font-size: 15px;
    margin-bottom: ;
}


/*fin section popular*/


/*début section activities*/

#activities
/*Container blanc de la section activities*/

{
    background-color: white;
    border-radius: 20px;
    padding: 35px;
}

#cartesactivities
/*container des cartes activities*/

{}

.activitie
/*carte activities*/

{
    background-color: white;
    border-radius: 20px;
    padding: ;
    width: 300px;
    box-shadow: 2px 2px 10px 1px rgba(233, 233, 233, 0.5);
}

.insection3
/*groupe enfant de la carte*/

{}

#cartesactivities img {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}

#cartesactivities h1 {
    font-size: 15px;
}


/*fin section activities*/


/*début footer*/

#footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    background-color: #F2F2F2;
    padding: 20px;
}

footer section {
    margin-right: 250px;
}

#footer ul {
    padding: 0;
}

#footer li {
    list-style: none;
}


/*fin footer*/