@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "raleway";
    margin: 0;
}


/*début header*/

header {
    padding: 20px;
    margin: 0;
    height: 100px;
}


/*début mise en page header*/


/*conatainer nav*/

#navheader {
    display: grid;
    grid-template: 50px 50px / 100px 1fr 80px;
}


/*container li heaer*/

#navheader ul {
    padding: 0;
    height: 30px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: space-evenly;
    grid-area: 2 / 1 / span 1 / Span 3;
}


/*li header*/

#navheader li {
    list-style: none;
    text-align: center;
    width: 100%;
}

#lih {
    border-bottom: solid 3px #0065FC;
}


/*liens li header*/

#ah {
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
}

#aa {
    text-decoration: none;
    color: black;
    font-size: 16px;
}


/*button inscription*/

#containerinscription {
    grid-area: 1 / 3 / span 1 / span 1;
}

#navheader button {
    display: block;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #0065FC;
    margin-top: 13px;
    text-align: center;
    font-size: 16px;
}


/*logo header*/

#logosvg {
    height: 50px;
    grid-area: 1 / 1 / span 1 / span 1;
}


/*fin header*/


/*début bandeau*/

#bandeausearch {
    padding-right: 20px;
    padding-left: 20px;
}

#bandeausearch h1 {
    font-size: 20px;
}

#bandeausearch h2 {
    font-size: 16px;
    font-weight: normal;
}


/*form search (container)*/

#search {
    display: flex;
    height: 50px;
    max-width: 335px;
    min-width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    margin-top: 35px;
    margin-bottom: 35px;
}


/*container icon position*/

#search label {
    height: 50px;
    width: 54px;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0 20px;
    position: relative;
}

#iconposition {
    height: 20px;
    position: absolute;
    left: 21px;
    top: 15px;
}


/*input rechercher*/

#rechercher {
    height: 50px;
    width: 235px;
    border: none;
}


/*button rechercher*/

#search button {
    border: none;
    border-radius: 15px;
    background-color: #0065FC;
    width: 50px;
    height: 50px;
}


/*span texte rechercher pour ordinateur*/

#searchdeck {
    display: none;
}


/*span container icon loupe pour mobile*/

#searchmob {}

#iconloupe {
    transform: scale(0.6);
}

#barrefiltres h3 {
    font-size: 16px;
}


/*container filtres*/

#filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/*div "button" filtres*/

.bf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    border: solid;
    border-color: #F2F2F2;
    background-color: white;
    border-radius: 50px;
    margin: 12px;
}


/*span container icons*/

.imgb {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background-color: #DEEBFF;
    border-radius: 100px;
}


/*span container texte*/

.textb {
    display: block;
    margin: 12px;
    font-weight: bold;
}


/*icons*/

.iconfiltre {
    width: 20px;
}


/*fin du bandeau*/


/*début du contenu de la page*/


/*container des sections et aside*/

#containerflex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 0;
}

.titresection {
    margin-top: 3px;
    margin-bottom: 3px;
}

.contenu {
    margin-left: 10px;
}

article h1 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

article p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 4px;
}

.stars {
    width: 15px;
}

.rating {
    margin-bottom: 10px;
}

strong {
    font-weight: normal;
}

.souscontainer {
    padding: 20px;
}

.carte {
    background-color: white;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    border-radius: 20px;
    margin-top: 15px;
    max-width: 334px;
    min-width: 310px;
}


/*début dection popular*/

#mostpopular {
    width: 100%;
    background-color: #f2f2f2;
}

#iconpopular {
    display: inline-block;
    width: 20px;
}


/*container des cartes popular*/

#cartespopular {
    display: flex;
    flex-direction: column;
    align-items: center
}


/*cartespopular*/

.popular {
    border: solid white 7px;
}


/*container du contenu des cartes*/

.insection2 {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}


/*mise en forme du div contenant l'image*/

.imgp {
    margin: 0;
    min-width: 125px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#imgp1 {
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#imgp2 {
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#imgp3 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.ratingp {}


/*fin section popular*/


/*début section hébergement*/


/*container section hébergement*/

#hébergement {
    width: 100%;
    background-color: white;
}


/*container des cartes hébergements*/

#carteshebergement {
    display: flex;
    flex-direction: column;
    align-items: center
}


/*cartes hébergements*/

.lodge {
    background-color: white;
    border: solid white 5px;
}


/*container du contenu de la carte*/

.insection1 {
    display: flex;
    flex-direction: column;
}


/*mise en forme de toutes les images de la section*/

.imgh {
    height: 117px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*auberge de la cannebière*/

#imgh1 {
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}


/*hotel du port*/

#imgh2 {
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}


/*hotel les mouettes*/

#imgh3 {
    background-image: url("..//images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}


/*hotel de la mer*/

#imgh4 {
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}


/*auberge le panier*/

#imgh5 {
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}


/*hotel chez amina*/

#imgh6 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#hébergement>p {
    font-size: 16px;
    font-weight: bold
}


/*début section activité*/

#activities {
    order: 3;
    background-color: white;
    padding: 35px;
}


/*container des cartes activités*/

#cartesactivities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*cartes activités*/

.activitie {
    padding: 0;
    background-color: white;
    width: ;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}


/*container du contenu*/

.insection3 {
    display: flex;
    flex-direction: column;
    margin: auto;
}


/*mise en forme des div contenant les images en background*/

.imga {
    margin: 0;
    min-width: 100%;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

#imga1 {
    background-image: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#imga2 {
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#imga3 {
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#imga4 {
    background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#imga5 {
    background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#imga6 {
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}


/*fin de la section activité*/


/*début footer*/

footer {
    background-color: #F2F2F2;
    padding: 20px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer section {
    margin-left: 0px
}

#footer ul {
    padding: 0;
}

#footer li {
    list-style: none;
    font-size: 16px;
}


/*fin footer*/